.bundlesSec {
    display: grid;
    margin-top: 25px;
    grid-template-columns: 1fr 10fr 1fr;
}
.innerElement {
    margin-top: 25px auto;
    justify-self:center ;
    grid-column: 2;
}


.cardImage span {
    width: 100%!important;
    height: 250px!important;
    border-bottom: 2px solid #0f2733 !important;
}

.bundlesCard {
    border: 2px solid #0f2733;
        min-width: 320px;
        max-width: 320px;
        min-height: 500px;
       
        display: grid;
        grid-template-rows: 1fr 8fr 1fr;
}

.bundlesCard .cardHeader h5 {
    font-size: 16px;
    align-self: center;
    margin-bottom: 0;
    margin-left: 25px;
    font-weight: 600;
}

.bundlesCard .cardHeader {
    justify-self: left;
        height: 100%;
        display: grid;
        width: 100%;
        align-self: center;
        border-bottom: 2px solid #0f2733;
}

.bundlesCard .cardContent {
    height: 100%;
}

.bundlesCard .cardButton {
    justify-self: left;
    height: 100%;
    display: grid;
    background-color: #0f2733;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #fcfcfc;
    align-self: center;
    border-top: 2px solid #0f2733;

}

.bundlesCard .cardButton a {
    letter-spacing: 3px;
    align-self: center;
    color: #f5f5f5;
    justify-self: center;
}

.bundlesCard .cardContent {
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 2fr;
}

.bundlesCard .cardContent .cardDesc {
    justify-self: center;
    align-self: center;
    line-height: 20px;
    max-width: 90%;
   
}
.cardDesc p {
    font-size: 16px;
    line-height: 24px;
}